.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
  line-height: 26px;
  font-size: 20px;
  margin: 0;
  font-weight: 500;
  color: #212121;
}

.card__like-button {
  background-image: url(../images/heart.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  width: 23px;
  height: 20px;
  padding: 0;
  margin: 0;
  border: none;
  opacity: 0.4;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 1;
}

.card__like-button_liked {
  background-image: url(../images/liked.svg);
  opacity: 1;
}

.card__like-button_liked:hover {
  background-image: url(../images/liked-hover.svg);
}

.card__delete-button {
  background-image: url(../images/delete.svg);
  background-color: transparent;
  border: none;
  width: 32px;
  height: 32px;
  position: absolute;
  margin-bottom: 820px;
  margin-left: 371px;
}

.card__delete-button:hover {
  background-image: url(../images/delete-hover.svg);
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    width: 288px;
  }

  .card__title {
    font-size: 16px;
    line-height: 22px;
    max-width: 200px;
  }
}
