.modal {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  padding: 0 20px;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s ease;
  z-index: 9999;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  background-color: #fff;
  padding: 32px 50px;
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border-width: 1px;
  display: inline-block;
  position: relative;
}

.modal__form {
  width: 100%;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
  margin: 0 auto;
  display: flex;
  width: 100%;
}

.modal__caption {
  left: 10px;
  font-weight: 500;
  border-radius: 8px;
  background-color: rgba(33, 33, 33, 0.8);
  padding: 4px 8px;
  color: #fff;
  line-height: 24px;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px 0 0;
  max-width: 80vw;
  display: flex;
  align-self: flex-start;
  width: fit-content;
}

.modal__container_type_preview {
  width: unset;
  overflow: unset;
  padding: 0%;
  background-color: transparent;
}

.modal__container.modal__container_type_preview {
  position: relative;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal__close_type_preview:hover {
  cursor: pointer;
  opacity: 0.4;
}

.modal__close-button {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url(../images/Closeicon.svg);
  background-color: #fff;
  border: none;
  opacity: 0.4;
  padding: 0;
  margin: 0;
  background-size: 35px 35px;
  display: flex;
}

.modal__close-button_preview {
  background-image: url(../images/close-light.svg);
  background-color: transparent;
  background-size: 40px 40px;
  position: absolute;
  opacity: 1;
  height: 40px;
  width: 40px;
  border: none;
  top: -10px;
  left: calc(100% + 10px);
  z-index: 10;
}

.modal__close-button:hover {
  opacity: 100%;
  cursor: pointer;
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-weight: 500;
  size: 16px;
  line-height: 17.6px;
  color: #212121;
  opacity: 70%;
}

.modal__input {
  padding: 16px 12px;
  border-radius: 8px;
  border-color: #212121;
  border: 1px solid;
  opacity: 70%;
}

.modal__input:hover {
  border: 2px solid black;
}

.modal__input_type_error {
  border: 1px solid #ff000099;
}

.modal__input_type_error:hover {
  border: 2px solid red;
}

.modal__submit-button {
  width: 100%;
  max-width: 156px;
  padding: 18px 32px;
  border-radius: 8px;
  border: none;
  background: #212121;
  color: #fcf5e5;
  line-height: 16px;
  font-size: 16px;
  font-weight: 500;
  transition: background 0.3s;
}

.modal__submit-button:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.8);
}

.modal__submit-button_disabled {
  background-color: grey;
  cursor: not-allowed;
  opacity: 0.5;
}

.modal__error {
  color: #ff0000b2;
  font-size: 16px;
  line-height: 17.6px;
  font-weight: 500;
}

#delete-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#delete-modal .modal__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
}

#delete-modal .modal__submit-button {
  background-color: #ff6565;
  color: #212121;
}

#delete-modal .modal__submit-button:hover {
  background-color: #ff3333;
}

#delete-modal .modal__cancel-button {
  width: 100%;
  max-width: 156px;
  padding: 18px 32px;
  border-radius: 8px;
  background: transparent;
  color: #212121;
  line-height: 16px;
  font-size: 16px;
  font-weight: 500;
  transition: background 0.3s;
  border: 1px solid #212121;
}

#delete-modal .modal__cancel-button:hover {
  cursor: pointer;
  background: visible;
  background-color: #212121;
  color: #fff;
  transition: background 0.3s;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__close-button {
    top: 12px;
    right: 12px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__submit-button {
    width: 100%;
    line-height: 12.7px;
    max-width: 156px;
  }

  .modal__image {
    max-height: 90vh;
    max-width: 90vw;
  }

  .modal__close-button_preview {
    left: calc(100% + -42px);
    top: -45px;
  }

  .card__delete-button {
    margin-bottom: 575px;
    margin-left: 250px;
  }

  .modal__caption {
    font-size: 16px;
    line-height: 19.2px;
  }
}
