.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar-container {
  position: relative;
}

.profile__avatar-btn {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  visibility: hidden;
  background-color: transparent;
  border: none;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  line-height: 16px;
  bottom: 16px;
  gap: 8px;
  right: 10px;
}

.profile__avatar-btn::after {
  content: "Edit Avatar";
}

.profile__avatar-container:hover .profile__avatar-btn {
  visibility: visible;
  cursor: pointer;
}

.profile__avatar {
  margin-right: 20px;
  width: 190px;
  height: 190px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  color: #212121;
  font-size: 32px;
  line-height: 40px;
}

.profile__description {
  margin: 0;
  font-weight: 500;
  opacity: 70%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  font-size: 16px;
  line-height: 22px;
  color: #212121;
}

.profile__edit-button {
  background-color: transparent;
  border: none;
  text-align: left;
  display: flex;
  align-items: center;
  color: #212121;
  opacity: 70%;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  margin-top: auto;
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: 80%;
}

.profile__pencil-icon {
  margin-right: 5px;
}

.profile__add-button {
  margin-left: auto;
  background-color: #212121;
  color: #fcf5e5;
  border-radius: 8px;
  height: 54px;
  width: 149px;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: 80%;
}

.profile__plus-icon {
  margin-right: 5px;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__pencil-light {
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    padding: 4px;
  }

  .profile__avatar-container {
    position: relative;
  }

  .profile__avatar {
    height: 80px;
    width: 80px;
    margin-right: 0;
    display: block;
    position: relative;
    /* z-index: 1; */
  }

  .profile__avatar-btn {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    /* z-index: 2; */
  }

  .profile__avatar-btn::after {
    content: "";
  }

  .profile__name {
    font-size: 20px;
    margin-bottom: 6px;
    max-width: 288px;
    line-height: 26px;
  }

  .profile__column {
    text-align: center;
    margin-right: 0;
  }

  .profile__description {
    margin-bottom: 32px;
    font-size: 16px;
    max-width: 288px;
    line-height: 21px;
  }

  .profile__edit-button {
    justify-content: center;
    margin-bottom: 20px;
  }

  .profile__add-button {
    margin-left: 0;
    max-width: 288px;
    width: 100%;
  }
}
